/* src/features/Posts/Comments/Comment.css */
.Comment {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.Comment p,.Comment span {
    margin:10px;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.Comment .Comment {
    margin-left: 20px;
    margin-top: 10px;
    border-color: #eee;
    background-color: #fcfcfc;
}

.CommentImage {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .Comment {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .Comment p {
        font-size: 12px;
    }
}
