main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Ensure this takes the remaining height after the header */
  position: relative;

}

.App-header{
  display: flex;
  justify-content: center;
}

h2, p{
  font-family: 'Noto Sans', sans-serif;
}