/* App.CS */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Ensure this takes the remaining height after the header */
  position: relative;
  overflow: hidden;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the main page */
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EFEFEF; /* Light gray with 50% opacity */
  z-index: -1; /* Place this pseudo-element behind the App container */
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Set a maximum width for the header content */
  padding:15px 34vw;

}

h1{
  max-width: 200px;
  width: 100%;
  margin: 0 10px;
  height: 46px;
  color:rgb(255,69, 0);
}

h1,h2, p{
  font-family: 'Noto Sans', sans-serif;
}

@media (max-width: 1024px) {
  .App-header h1{
    display: none;
}

.App-header{
  padding: 15px 0;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
}


.Search_form{
  padding: 0;
  width: 80vw;
}

}


@media (max-width: 375px) {
  .App-header h1{
    display: none;
}

.App-header{
  padding: 15px 0;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
}


.Search_form{
  padding: 0;
  width: 80vw;
}

}